* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;

}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Regular.ttf') format('truetype');
}

ul {

    list-style-type: none;
    background-color: #333;
    width: 100%;
    float: left;
}

ul li {
    float: left;
    margin-bottom: 0
}

.navigation {
    color: #ffffff !important;
    padding: 15px;
    display: block;
    transition: background-color .2s ease;
}

.navigation:after {
    content: '';
    display: block;
    height: 3px;
    border-radius: 20px;
    background-color: red;
    width: 0;
    margin: 0 auto;
}

.navigation:hover::after {
    animation: animate 0.4s;
    width: 100%;
    color: #ffffff;
}
.overlay{
    background: url("../images/food.jpeg");
    height: 350px;
    background-size: cover;
}
.overlay h1{
    text-align: center;
    color: #ffffff;
    background: rgba(0,0,0,.7);
    height: 100%;
    line-height: 5em;
    padding: 50px 0;
}
.container-overlay {
    position: relative;
}
.image {
    display: block;
    width: 100%;
    height: 400px;
}
.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
    width: 100%;
    height:20%;
    transition: .3s ease;
}
.container-overlay:hover .overlay-image {
    bottom: 0;
    height: 100%;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.link-overlay{
    width: 100%;
    display: block;
    background: rgba(255,255,255,.7);
    color: black;
    padding: 10px 100px;
}
.button_hamburger {
    display: none;
    cursor: pointer;
    margin: 15px;
    width: 35px;
    float: right !important;
    position: relative;
}
.button_hamburger span{
    /*float: right;*/
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    top: 4px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.display{
    display: block;
}
@keyframes animate {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@media only screen and (max-width: 650px) {
    .button_hamburger{
        display: block;
    }
    ul li{
        width: 100%;
        text-align: center;
        display: none;
    }
    ul{
        /*min-height: 50px;*/
    }
    .overlay h1{
        padding: 100px  0 0 0;
        line-height: 1em;
        font-size: 45px;
    }
}